body {
    background: url("https://www.desktopbackground.org/download/o/2014/01/12/700190_cool-wallpapers-hd-1920x1080-best-hd-desktop-wallpapers-1080p-hd_1920x1080_h.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.search-container {
  position: fixed;
  bottom: 10%;
  width: 300px;
  height: 50px;
  left: 60%;
  margin-left: -300px; 
}

input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 2px solid #D0CFCE;
  outline: none;
  border-radius: 20px;
}
input#search-bar:focus {
  border: 2px solid #008ABF;
  transition: 0.35s ease;
  color: #008ABF;
}
input#search-bar:focus::-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
input#search-bar:focus::-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
input#search-bar:focus:-ms-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

.search-icon {
  position: relative;
  float: right;
  width: 35px;
  height: auto;
  top: -49px;
  right: -115px;
  border: 2px solid white;
  padding: 7px;
  border-radius: 20px;
}

input[type="text"]
{
    background: transparent;
}
